
	
	/* body를 중앙에 위치하기 위해 */
	.body_center {
		position: absolute;
  		top: 50%;
  		left: 50%;
  		width: 90%;
    	max-width:400px;
  		transform: translate(-50%, -50%);
  		padding-top:0px;
	}
	
    
    .btn_margin {
   		margin-bottom: 2px;
    }
    
    .text_title { font-size: 16px; font-weight: bold;}

	