		
	.text_title { font-size: 16px; font-weight: bold;}
	.text_subtitle { font-size: 14px; }
	.text_subtitle1 { font-size: 14px; font-weight: bold; }
	.text_etc { font-size: 12px;}
	.text-center { text-align: center;}
	.text-left { text-align: left; !important;}