	
	body {
 	 	padding-top: 50px;
	}
	
	/* 기본으로 정해진 값을 원하는대로 수정하기 위해*/
	.readonly{
		background-color:#ffffff !important;
	}

	/* 글자 관련  */
	.text_title { font-size: 16px; font-weight: bold;}
	.text_subtitle { font-size: 14px; }
	.text_subtitle1 { font-size: 14px; font-weight: bold; }
	.text_subtitle2 { font-size: 12px; font-weight: bold; }
	.text_etc { font-size: 12px;}
	.text_center { text-align: center;}
	.text_left { text-align: left; !important;}

	/* 기본으로 정해진 값을 원하는대로 수정하기 위해*/
	.btn-Logout {padding: .2rem .2rem;font-size:.6rem; border-radius:.1rem}
	
	/* 기본으로 정해진 값을 원하는대로 수정하기 위해*/
	.btn-reply-MD { padding: .1rem .1rem; font-size: 0.6rem; border-radius: .2rem; }
	
	/* 기본으로 정해진 값을 원하는대로 수정하기 위해*/
	.marker {background-color:yellow; font-size: 1.2em;}
	
	/* 페이징 관련 색상 변경 */
	.page-item.active .page-link {
		z-index: 1;
    	color: #fff;
    	background-color: #343a40;
    	border-color: #343a40;
    }
    
    
    /* 방문전, 방문후, 마우스가올려져 있을때  3가지 경우를 수정하기 위해*/
    a:link	  {text-decoration: none; color: #000000;}
    a:visited {text-decoration: none; color: #000000;}
  	a:hover   {text-decoration: underline; color: red;}
  	
  	
  	/* 기본으로 정해진 값을 원하는대로 수정하기 위해*/
  	.list-group-item {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 0px solid rgba(0,0,0,.125) !important; 
	}
	
	
	/* 기본으로 정해진 값을 원하는대로 수정하기 위해*/
	.mb-4, .my-4 {
    margin-bottom: 1rem!important;
	}
	
	/* 기본으로 정해진 값을 원하는대로 수정하기 위해*/
	.pb-5, .py-5 {
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
	}	
	
	/* 기본으로 정해진 p의 위아래 마진을 없애기 위해*/
	p {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	/* 위 공간을 30px정도만 띄우기 위해 */
	.body_read {
		margin-top: 30px;
	}
	
	
	/* admin_main의 body */
	.body_admin_main {
		position: absolute;
  		top: 45%;
  		left: 45%;
  		transform: translate(-50%, -50%);
  		z-index: 1;
	}
	
	/* body_admin_board의 body */
	.body_admin_board {
		margin: 100px auto;
    	width: 90%;
    	max-width:800px;
    	height:100%
	}
	
	/* body_admin_User의 body */
	.body_admin_User {
		margin: 100px auto;
    	width: 90%;
    	max-width:330px;
    	height:100%
	}
		
	/* 기본으로 정해진 btn-sm 크기를 더 줄이기 위해 */
	.btn_file_modify_delete {
    padding: .2rem .4rem;
    font-size: .8rem;
    line-height: 1.2;
    border-radius: .2rem;
	}
	
	
	/* 기본으로 정해진 btn-sm 크기를 더 줄이기 위해 */
	.btn_file_create_delete {
    padding: .2rem .4rem;
    font-size: 1rem;
    line-height: 1.2;
    border-radius: .2rem;
	}
	
	
	/* 기본으로 정해진 table td,th 의 패딩을 줄이기 위해 */
	.padding_reduce{
		padding: .2rem;
	    vertical-align: top;
	    border-top: 1px solid #dee2e6;
	}
